.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: maroon;
        position: relative;
        top: 70px;
        scroll-behavior: smooth; //to scroll smoothly to thar section on click 
        scroll-snap-type: y mandatory; 
        scrollbar-width: none; //firefox to hide scrollbar
        &::-webkit-scrollbar {
            display: none; // every other browser to hide scrollbar
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start; // it leaves us to the component which has crossed 50% of section
        
        }

    }
}